.course-page {
    margin-left: 1rem;
}

.course-item {
    margin: 1.6rem;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
    border-radius: 2rem;
    width: 40rem;
}
