.add-task {
  display: flex;
  margin-bottom: 2rem;
  &-input {
    padding: 1.5rem 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  &-btn {
    padding: 1.5rem;
    border: none;
    color: white;
    background-color: #007bff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
